.section-with-form {
.border-top(@red; 1);
.bg-col(@black);
.rel;
.inner-shadow(0, 0, 20px, 0.5);
	
	h3 {
	.abs;
	.top(-9);
	.left(0);
	width: 100%;
	.bg-col(@black);
	.col(@white);
	text-align: center;
	.mag-bot(0);
	.font-size(3);	
	.line-h(9);
	.rounded(8px);
	}
	
	.gform_wrapper {
	.mag-all(0);
	.pad-top(6);
	.pad-bot(8);	
	.clearfix();
	}
	
	.gform_wrapper .gfield_required {
	.col(@red);	
	}
	
	.gform_wrapper input[type="text"],
	.gform_wrapper input[type="email"],
	.gform_wrapper input[type="tel"] {
	.h(6);	
	.font-size(2);
	.font-slab-reg;
	.pad-all(1);
	}
	
	.dropdown-menu.inner {
	.font-slab-reg;	
	}
	
	.bootstrap-select.btn-group .dropdown-menu li.selected a {
	.bg-col(@red);	
	.col(@white);
	}
	
	.bootstrap-select.btn-group .dropdown-menu li.selected a span.check-mark {
		.fright;
		display: inline-block;
		.col(@white);
	}
	
	.bootstrap-select.btn-group .dropdown-menu li {
	.mag-bot(1);	
	}
	
	.gform_wrapper ul.gform_column.left_col {
	.pad-right(1);	
	}
	
	.gform_wrapper ul.gform_column.right_col {
	.pad-left(1);	
	}
	
	.gform_wrapper textarea.large {
		.h(18.7);
		//.h(28.7);
		.pad-all(2);
		.font-size(2);
		.font-slab-reg;
	}
	
	.bootstrap-select button {
	.h(6);	
	.font-size(2);
	.pad-all(1);
	}
	
	.gform_wrapper label {
	.font-size(2);	
	}
	
	.gform_wrapper label, .gform_wrapper .gfield_no_follows_desc {
	.col(@white);	
	}
	
	.gfield_no_follows_desc {
	.pad-top(4.7);
	.mag-bot(0);	
	}
	
	.gform_wrapper .gsection {
	.no-border;
	.pad-all(0);	
	.mag-all(0);
	}
	
	.gform_wrapper .gform_body {
	.clearfix();
	}
	
	.gform_wrapper .gform_footer {
	.mag-top(3);
	.pad-all(0);
	.rel;
	//width: 50%;
	//.fright;	
		input.gform_button {
		.h(6);
		.font-size(2);
		.caps;
		width: 100%;
		.font-slab-reg;
			&:hover, &:active, &:focus {
			.bg-col(@grey);
			}
		}
		
		&:after {
		font-family: FontAwesome;
		content: "\f101";	
		.abs;
		.right(1);
		.top(1);
		.w(4);
		.h(4);
		.border(@white; 0.1);
		.col(@white);
		.rounded(100%);
		.font-size(2.5);
		text-align: center;
		}
	}
	
	.validation_error {
	text-align: center;	
	}
	
}

#client-feedback-form {
	.gform_wrapper textarea.large {
		.h(17.4);
	}
	
	.gf_list_inline label {
	.mag-top(3);	
	}
	
	.ginput_container_radio {
	.mag-top(0);	
	}
	
	ul.gfield_radio li {
	.mag-bot(0);
	.mag-right(2);
		label {
		.line-h(2);		
		.mag-top(0);
		.fleft;	
		}
	}
	
	ul.gfield_radio li input {
	.h(2);	
	.mag-top(0);
	}
}