html {
width: 100%;
height: 100%;
.mag-top(0)!important;	
}

body {
width: 100%;
height: 100%;
min-height: 100%;	
.rel;
.pad-all(0);
.mag-all(0);
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

	&.loading {
	overflow: hidden;	
	.abs;
	.top(0);
	.left(0);
	
		.mp-wrapper {
		-webkit-filter: blur(20px);
		-moz-filter: blur(20px);
		-o-filter: blur(20px);
		-ms-filter: blur(20px);
		filter: blur(20px);	
		}
	}
	
	&.loaded {
	overflow: auto;	
	}
	
	&.nav-open {
	overflow: hidden;	
	.abs;
	.top(0);
	.left(0);
	}
	
}

a {
.col(@red);
	&:hover, &:active, &:focus {
	.col(@grey);
	outline: none;	
	}	
}

#site-loader {
//.none;
.fixed;
.top(0); .right(0); .left(0); .bottom(0);	
z-index: 10000;

	.site-loader-bg {
	width: 100%;
	height: 100%;
	.bg-col(white);	
	.opacity(0.7);	
	}
	
	.loader {
	.abs;
	top: 50%;
	left: 50%;
	.mag-top(-5);
	.mag-left(-5);
	.w(10);
	.h(10);	
	.bg-img('mp-logo-icon.png');
	.bg-repeat(no-repeat);
	background-position: center center;
	.bg-size;
	}
}

html.svg {
	#site-loader {
		.loader {
		.bg-img("mp-logo-icon.svg");
		}
	}
}

.mp-wrapper {
.rel;
.min-w(117);
.transition(0.3s, ease);
}

.container {
.min-w(117);			
}

main#main-content {
.bg-col(@white);
}

body.home main#main-content {
.bg-col(@trans);		
}

.abs-top {
.abs;
.top(0);
.left(0);
.right(0);	
}

.abs-bot {
.abs;
.bottom(0);
.left(0);
.right(0);	
}

.col-strip {
	.border-top(@white; 0.3);
	.border-bot(@white; 0.3);
	.bg-col(@orange);
	.pad-bot(1.7);
	
	.strip {
	.border-bot(@white; 0.3);	
	.h(2);
	}
	
	.strip-green {
	.bg-col(@green);	
	}
	
	.strip-blue {
	.bg-col(@blue);	
	}
}

h1, h2, h3 {
.col(@greyDk);
.font-size(5.5);
.line-h(5);
.font-cond;
.caps;
font-style: normal;
}

p {
.col(@black);
}

.btn {
.font-slab-reg;
.rel;	
}