.section-with-bg-img {
.pad-top(8);
.pad-bot(9);
.bg-repeat(no-repeat);
.border-top(@red; 1);
background-position: center center;
background-attachment: fixed;
.rel;

	.overlay-dk {
	.abs;
	.top(0);
	.left(0);
	width: 100%;
	height: 100%;
	.trans-bg(@black; 0.5);	
	}
	
	h3 {
	.bg-col(@red);
	.col(@white);
	text-align: center;
	.mag-top(-13);
	.mag-bot(4);
	.font-size(3);	
	.line-h(9);
	.rounded(8px);
	}
	
	.section-links {
		
		i {
		.abs;
		.left(1);
		.top(1);
		.h(8);
		.w(8);
		.border(@white; 0.1);
		.rounded(100%);
		.line-h(8);	
		}
		
		a {
		.block;
		.h(10);
		.line-h(10);
		.mag-bot(2);
		.no-text-dec;
		.font-size(4);	
		.font-slab-bold;
		letter-spacing: 1px;
		.col(@white);
		.trans-bg(@red; 0.8);
		text-align: center;
		.rel;
		
			&:hover, &:active, &:focus {
			.trans-bg(@black; 0.8);
				i {
				.col(@red);	
				}
			}
		}
		
		
	}
}

.section-with-form {
.pad-top(0);
.pad-bot(9);
.border-top(@red; 1);
.bg-col(@black);
.rel;
.inner-shadow(0, 0, 20px, 0.5);
	
	h3 {
	.bg-col(@black);
	.col(@white);
	text-align: center;
	.mag-top(-5);
	.mag-bot(4);
	.font-size(3);	
	.line-h(9);
	.rounded(8px);
	}
	
	.gform_wrapper {
	.mag-all(0);	
	}
	
	.gform_wrapper input[type="text"],
	.gform_wrapper input[type="email"],
	.gform_wrapper input[type="tel"] {
	.h(6);	
	.font-size(2);
	.font-slab-reg;
	.pad-all(1);
	}
	
	.dropdown-menu.inner {
	.font-slab-reg;	
	}
	
	.bootstrap-select.btn-group .dropdown-menu li.selected a {
	.bg-col(@red);	
	.col(@white);
	}
	
	.bootstrap-select.btn-group .dropdown-menu li.selected a span.check-mark {
		.fright;
		display: inline-block;
		.col(@white);
	}
	
	.bootstrap-select.btn-group .dropdown-menu li {
	.mag-bot(1);	
		&:last-child {
		.mag-bot(0.5);	
		}
	}
	
	.gform_wrapper ul.gform_column.left_col {
	.pad-right(1);	
	}
	
	.gform_wrapper ul.gform_column.right_col {
	.pad-left(1);	
	}
	
	.gform_wrapper textarea.large {
		.h(28.7);
		.pad-all(2);
		.font-size(2);
		.font-slab-reg;
	}
	
	.bootstrap-select button {
	.h(6);	
	.font-size(2);
	.pad-all(1);
	}
	
	.gform_wrapper label {
	.font-size(2);	
	}
	
	.gform_wrapper label, .gform_wrapper .gfield_no_follows_desc {
	.col(@white);	
	}
	
	.gfield_no_follows_desc {
	.pad-top(4);
	.mag-bot(0);	
	}
	
	.gform_wrapper .gsection {
	.no-border;
	.pad-all(0);	
	.mag-all(0);
	}
	
	.gform_wrapper .gform_footer {
	.mag-top(-6);
	.pad-all(0);
	width: 50%;
	.fright;	
		input.gform_button {
		.h(6);
		.font-size(2);
		.caps;
		width: 100%;
		}
	}
	
}

// CLIENT QUOTE SECTION STYLES
.fw-quote {
.border-top(@red; 1);
.bg-col(@white);
.pad-top(6);
.pad-bot(9);	
	.quote-text {
	.font-size(3.5);
	.line-h(4.5);	
	text-align: center;
	.col(@grey);
	.font-serif;
	}
	
	.quote-icon {
	.block;
	.w(7);
	.h(7);
	.line-h(7);
	.border(@greyDk; 0.1);
	.rounded(100%);
	.col(@greyDk);
	text-align: center;	
	.font-size(2.7);
	}
}